
*{
  margin: 0;
  padding:0;
  font-family: 'Tektur', cursive;
}

h1{
  color: #EBEDF0;
  text-align: center;
  align-items: center;
  background-color: #303F61;
  padding: 25px;
  margin: 0;
  font-family: 'Tektur', cursive;
  font-style: italic;
  font-size: 50px;
  position: relative;
  left: 0px;
  top: 0px;
}



/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #0ad7c34c;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #afb4b5;
}

/* Link styles inside the table */
td a {
  text-decoration: none;
  color: #333;
}

td a:hover {
  color: #0066cc;
}

/* this is for the display all form */
#browse {
  text-align: center;
  margin-top: 20px;
}

#browse a {
  text-decoration: none;
  color: #0066cc;
}

#browse a:hover{
  background-color: #94A4B4;
}



/* Body and header styles */
body {
  font-family: 'Tektur', cursive;
  padding: 0;
  background-color: #585e5b2a;
}

h1 {
  text-align: center;
}


/* Table styles */
table {
  width: 90%;
  margin: 30px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* tr:hover {
  background-color: #e6e6e6;
} */

/* Link styles inside the table */
td a {
  text-decoration: none;
  color: #333;
  font-family: 'Tektur', cursive;
}

td a:hover {
  color:  #94A4B4;
}

/* Additional styles */
#browse {
  text-align: center;
  margin-top: 20px;
}

#browse a {
  text-decoration: none;
  color: #94A4B4;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 0 5px;
  color: #fff;
  background-color:  #263859;
  border-radius: 5px;
}

/* Form styles */
#insert {
  margin: 20px auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
#update {
  margin: 20px auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

#delete {
  margin: 20px auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}


legend {
  font-size: 18px;
  font-weight: bold;
}

fieldset.fields {
  display: flex;
  flex-direction:column;
  margin: 15px;
}

.fields label {
  font-weight: bold;
  margin-bottom: 5px;
}

.fields input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.btn {
  padding: 8px 15px;
  background-color: #303F61;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Tektur', cursive;
}

.btn.cancel {
  background-color: #ccc;
  margin-left: 10px;
}

.btn:hover {
  background-color: #94A4B4;
}

.button{
  border: none;
  background-color: #303F61;
  color:#EBEDF0;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Tektur', cursive;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  
  .button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .home_button_container{
    position: absolute;
    left: 55%;
    top:10%;
    
  }

  .schema_container{
    position: absolute;
    width: 650px;
    height: 500px;
    margin-top: 10px;
    border-style:solid;
    border-color: #303F61;
    border-width: 5px;
  }

  .schema_img{
    width: 650px;
    height: 500px;
  }
.dropbtn {
  background-color: #263859;
  font-family: 'Tektur', cursive;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;


  border: none;
}

.dropdown {
  position: relative;
  top:20px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

/* all of  footers in  */
footer {
  text-align: center;
  background-color:  #94A4B4;
  padding: 10px;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:#EBEDF0;
  text-align: center;
}



i{
  color: #c9d2e9;
}

a{
  text-decoration: none;
  color: #EBEDF0;
  margin: 15px;
}

a:hover {
  background-color: #303F61;
  
}

a:focus {
  outline:  #303F61
}


.navbar{
  background-color: #94A4B4;
  width: 100%;
  height: 36px;
  font-size: 15px;
  font-family: 'Tektur', cursive;
  text-align: center;
}

ul.navlist {
  position: relative;
  left: 75px;
  text-decoration: none;
}

li{
  list-style: none;
  padding: 10px;
}
.add_item_link{
  float: left;
  list-style: none;
  text-decoration: none;
}

.add_order_link{
  float: left;
  list-style: none;
  text-decoration: none;
}
.home{
  float: left;
  list-style: none;
  text-decoration: none;
}





.button-container {
  position: fixed;
  bottom: 40px; /* Adjust this value to set the vertical position */
  right: 20px; /* Adjust this value to set the horizontal position */
}

.circular-button {
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 5;
  text-align: center;
  border-radius: 50%;
  background-color:  #303F61; /* Adjust the color as needed */
  color: #fff; /* Adjust the text color as needed */
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

/* Remove default link styles */
.circular-button:hover,
.circular-button:focus,
.circular-button:active {
  text-decoration: none;
  outline: none;
  background-color: #94A4B4;
}

input{
  padding: 5px;
}
